.content {
    align-content: center;
    align-items: center;
}
ul{
    list-style: none;
}
header{
    width: 100%;
}
#nav_bar{
    float: right;
    padding-top: 10px;
}
li{
    display: inline-block;
    padding: 8px;
}
#sign_in{
  background: rgba(255, 255, 255, 0.2); 
  margin-right: 25px;
  padding: 7px 15px;
  border-radius: 3px; 
  font-weight: bold;
  color: #f0f8ff;
}
a{
    text-decoration: none;
    color: inherit;
}
#google_logo{
    text-align: center;
    display: block;
    padding-top: 200px;
    margin: auto;
}
#footer {
  background: rgba(255, 255, 255, 0.2);
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 40px;
  backdrop-filter: blur(4px) saturate(180%);
}
#footer-left {
  float: left;
}

#footer-right {
  float: right;
  padding-right: 27px;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  color: #cac7ff;
  margin: 0;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar{
  width: 100%;
  max-width: 700px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 10px;
  backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff;
}
::placeholder{
  color: #cac7ff;
}
.search-bar button img{
  width: 20px;
}
.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}