body{
    background-color: #272727;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #646262;
}
.content {
    align-content: center;
    align-items: center;
}
ul{
    list-style: none;
}
header{
    width: 100%;
}
#nav_bar{
    float: right;
    padding-top: 10px;
}
li{
    display: inline-block;
    padding: 8px;
}
#sign_in{
    background: #2b5780; 
  margin-right: 25px;
  padding: 7px 15px;
  border-radius: 3px; 
  font-weight: bold;
  color: aliceblue;
}
a{
    text-decoration: none;
    color: inherit;
}
#google_logo{
    text-align: center;
    display: block;
    padding-top: 200px;
    margin: auto;
}
/* Hiding elements
form{
    text-align: center;
}
#form-search{
    width: 60%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid white;
}
input[type="submit"] {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
  color: #757575;
  font-size: 13px;
  font-weight: bold;
  min-width: 54px;
  padding: 7px 16px;
  margin: 0 2px;
}

input[type="submit"]:hover {
  border-color: #C6C6C6;
  background-color: #F8F8F8;
  color: #222;
}
.buttons {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 300px;
}
*/
#footer {
  background-color: rgb(36, 35, 35);
  border-top: 1px solid black;
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 25px;
}
#footer-left {
  float: left;
}

#footer-right {
  float: right;
  padding-right: 27px;
}
